<header
  class="flex justify-center mx-auto items-center py-5 w-[1024px] text-pretty"
>
  <nav class="flex flex-row justify-center gap-x-60 opacity-80">
    <a
      href="/"
      class="hover:underline underline-offset-3 decoration-2 decoration-blue-400 dark:decoration-blue-600"
      >Home</a
    >
    <a
      href="#experiencia"
      class="hover:underline underline-offset-3 decoration-2 decoration-blue-400 dark:decoration-blue-600"
      >Experiencia</a
    >
    <a
      href="#proyectos"
      class="hover:underline underline-offset-3 decoration-2 decoration-blue-400 dark:decoration-blue-600"
      >Proyectos</a
    >
  </nav>
</header>
